*, html{
    margin: 0px;
    padding: 0px;
}
body {
    line-height: 1.5;
}
.navbar{
    background-color: black;
    width: 100%;
    height: 10vh;
}
.ulnavbar{
    height: 70px;
    display: flex;
    /* justify-content: center;  ini buat ketengah */ 
    align-items: center;
}
.linavbar{
    color: rgb(227, 217, 217);
    list-style-type: none;
    font-size: 30px;
    margin: 5px;
    padding: 20px;
}
.aclass{
    background-color: none;
    text-decoration: none;
    color: white;
}
.content{
    margin: 5px;
}
.licontent1{
    list-style-type: none;
}
h3{
    font-size: 30px;
}
.ulfooter{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    width: 100%;
}
.licontent2{
    margin: 5px;
    font-size: 20px;
}
.liproject{
    font-size: 30px;
}
.imgcontent {
    width: 12%;
    height: 12%;
}
.tulisan{
    justify-content: center;
    align-items: center;
}